body {
  background: #f3e9e7;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  padding: 0px;
}

/*styles for cards container on main window */
.cardsContainer{ 
  display: grid;
  grid-template-columns: 17vw 17vw 17vw 17vw ;
  justify-content: space-evenly;
  height: 79vh;
  width: 75vw;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  grid-gap: 1rem;
}

/*styles for cards container when there is no data on screen */
.cardsContainerNoData{
  text-align: center;
  vertical-align: middle;
}

.notFound{
  font-size: 5rem;
}

/*scale card img on hover */
.charCard img:hover{
  transition: transform .5s ease;
  transform: scale(1.1);
  cursor: pointer;
}

/*setting p tag styles so image will not display over text on hover*/
.charCard p{
  position:relative;
  z-index: 2;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.navContainer{
  justify-content: space-between;
  padding: 1.2rem;
  background-color: white;
}

.projectTitle{
  font-size: 1.6rem;
}

/*styles for pagination bar in the bottom of the main window */
.pagination {
  display: inline-block;
}

.pagination button {
  color: black;
  align-self: center;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color .3s;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.pagination button.active {
  background-color: #e76f3d;
  color: white;
  border-radius: 5px;
}
.centered{
  padding: 10px;
  text-align: center;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

img{
  width:100%;
  max-width:200px;
}

p{
  word-wrap: normal
}

/* Modal Header*/
.modal-header {
  padding: 2px 16px;
  background-color: #feab6b;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  margin-top: 20px;
  margin-bottom: 11px;
}

/* Modal Footer */
.modal-footer {
  padding: 15px 20px;
  background-color: #feab6b;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 0px;
  border: 0px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* image resize on modal popup window */
.modal-content img{
  width:100%;
  max-width:300px;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* settings to dynamically display and hide modal window*/
.modal-show{
  display: block;
}

.modal-hide{
  display: none;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow:hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button of modal window */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

* { box-sizing:border-box; }

.container 		{ 
  font-family:'Roboto';
  width:100px; 
  margin:30px auto 0; 
  display:block; 
  /* background:#FFF; */
  padding:10px 50px 50px;
}

/*Hide scrollbar of car container*/
.cardsContainer::-webkit-scrollbar {
  display: none;
}

/* styles for filter bar on top of the window*/
.group 			  { 
  position:relative; 
  margin-bottom:0px; 
  width: 12vw;
}
input 				{
  font-size:15px;
  padding:10px 10px 10px 5px;
  display:block;
  width:85%;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus { 
  outline:none; 
}

label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top:-10px;
  font-size:14px;
  color:black;
}

.bar { 
  position:relative; display:block; width:85%;
}

.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#e76f3d; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:85%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

@-webkit-keyframes inputHighlighter {
	from { background:#e76f3d; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#e76f3d; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#e76f3d; }
  to 	{ width:0; background:transparent; }
}

.selectInput{
  width: 85%;
  position: relative;
  top: 17px;
}

.selectLabel{
  width: 100%;
  top:-10px;
  font-size:14px;
  color:black;
}

.buttonApply {
  background-color: white; /* Green */
  border: 2px solid #e76f3d;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  bottom: 20px;
  width: auto;
  height: auto;
  border-radius: 2px;

}

.buttonApply:hover{
  background-color: #e76f3d;
  color: white;
}

.buttonApply:disabled{
  cursor: default;
  background-color: white; /* Green */
  border: 2px solid #e76f3d;
  color: black;
}



